<header class="container-fluid" id="header-block" role="banner">
  <div class="container">
    <nav class="navbar navbar-light nopadding">
      <p id="title">
        <a href="{{ site.baseurl }}/" class="navbar-brand d-flex" title="Home">
          <span class="icon baseline logo"></span>
          {{ site.title | newline_to_br }}
        </a>
      </p>
      <div id="wax-navbar">
        <ul class="nav ml-auto list-inline nomargin">
          {% for item in site.menu %}
            {% if item.sub %}
            <li class="nav-item dropdown nopadding">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ item.label }}{% unless forloop.last %}&nbsp;&nbsp;&nbsp;/{% endunless %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for sub in item.sub %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ sub.link }}">{{ sub.label }}</a>
                {% endfor %}
              </div>
            </li>
            {% else %}
            <li class="nav-item nopadding">
              <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}">{{ item.label }}{% unless forloop.last %}&nbsp;&nbsp;&nbsp;/{% endunless %}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
