<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css"/>
<script src="{{ site.js.lunr-markercluster.cdn | default: 'https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js' }}"></script>
<script src="{{ site.js.elasticlunr.cdn | default: 'https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js' }}"></script>
<script src="{{ site.baseurl }}/js/lunr-ranges.js"></script>
<div id="map-viewer"></div>
<script>
  $.getJSON("{{ site.baseurl }}/js/lunr-index.json", function(json_store) {
   // create elasticlunr index
    window.index = new elasticlunr.Index;
    window.store = json_store;
    index.saveDocument(false);
    index.setRef('lunr_id');
    index.addField('title');
    index.addField('coordinates');
    index.addField('link');
    index.addField('thumbnail');
    index.addField('lat');
    index.addField('lon');

    console.log(store.length);
    // add docs
    for (i in store) {
      var doc = elasticlunrRanges.splitCoords(store[i]);
      doc['lunr_id'] = i;
      index.addDoc(doc);
    }

    // map and tile layer
    window.map_viewer;
    map_viewer = L.map('map-viewer', {
      center: [{{ include.coordinates[0] }}],
      zoom: {{ include.zoom | default: 10 }}
    });
    L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-background/{z}/{x}/{y}.{ext}', {
    	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    	subdomains: 'abcd',
    	minZoom: 0,
    	maxZoom: 18,
    	ext: 'png'
    }).addTo(map_viewer);
    L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-labels/{z}/{x}/{y}.{ext}', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      subdomains: 'abcd',
      minZoom: 0,
      maxZoom: 18,
      ext: 'png'
    }).addTo(map_viewer);

    // markers
    elasticlunrRanges.placeMarkers(map_viewer, index, store);
    elasticlunrRanges.decorateMap(map_viewer, index, store);
  });
  $('.map-link').click(function(){
    console.log('here');
    var coordinate = $(this).attr('data-coordinate').split(",");
    map_viewer.setView(coordinate, 12);
  });
</script>
