{%- capture markers -%}
  {%-for item in site.biggert | where: item.thumbnail -%}
    {%- for c in item.coordinates -%}
      var marker = L.marker([{{ c }}]);
      marker.bindPopup(
        '<a href="{{ site.baseurl }}{{ item.permalink }}" class="marker-pop">{{ item.title | slugify }}</a>'
      );
      markers.addLayer(marker);
    {%- endfor -%}
  {%- endfor -%}
{%- endcapture -%}

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css"/>
<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>

<div id="map-viewer" style="height:350px;"></div>
<script>
  // map and tile layer
  var map_viewer;
  map_viewer = L.map('map-viewer', {
    center: [{{ include.coordinates }}],
    zoom: {{ include.zoom | default: 10 }}
  });
  L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map_viewer);
  // markers
  var markers = L.markerClusterGroup({spiderfyOnMaxZoom: false});
  {{ markers }}
  map_viewer.addLayer(markers);
</script>
