<script id="leaflet-iiif" src="{{ site.js.leaflet-iiif.cdn }}"></script>
<div id="iiif-viewer"></div>
<script>
  const manifestUrl = '{{ include.manifest_uri }}';
  const iiifViewer = L.map('iiif-viewer', {
    center: [0, 0],
    crs: L.CRS.Simple,
    zoom: 1,
    zoomSnap: .5,
    maxZoom: 6
  });
  fetch(manifestUrl).then(manifestSrc => {
    manifestSrc.json().then(data => {
      console.log({ data });
      const iiifLayers = {};
      var i = 1;
      $.each(data.items, function(_, canvas) {
        if (canvas.type != 'Canvas') return;
        var label = 'image ' + i;
        $.each(canvas.items, function(_, annoPage) {
          if (annoPage.type != 'AnnotationPage') return;
          $.each(annoPage.items, function(_, anno) {
            if (anno.type != 'Annotation' || anno.motivation != 'painting') return;
            console.log(anno.body.service['id'] + '/info.json');
            iiifLayers[label] = L.tileLayer.iiif(anno.body.service['id'] + '/info.json', { fitBounds: true })
            i++;
          });
        });
      });
      L.control.layers(iiifLayers).addTo(iiifViewer);
      iiifLayers[Object.keys(iiifLayers)[0]].addTo(iiifViewer);
    });
  });
</script>
