<script src="{{ site.js.leaflet-iiif.cdn | default: 'https://cdn.jsdelivr.net/npm/leaflet-iiif@1.2.2/leaflet-iiif.min.js' }}"></script>
<div id="iiif-viewer" style="height:600px;"></div>
<script>
  var iiif_viewer;
  var iiifLayers = {};
  var manifestUrl = '{{ include.manifest_uri }}';
  iiif_viewer = L.map('iiif-viewer', {
    center: [0, 0],
    crs: L.CRS.Simple,
    zoom: 1,
    zoomSnap: .5,
    minZoom: 0,
    maxZoom: 6
  });
  $.getJSON(manifestUrl, function(data) {;
    var i = 1;
    $.each(data.sequences[0].canvases, function(_, val) {
      var label = 'image ' + i;
      iiifLayers[label] = L.tileLayer.iiif(val.images[0].resource.service['@id'] + '/info.json', {fitBounds: true});
      i++;
    });
    if (i > 2){ L.control.layers(iiifLayers).addTo(iiif_viewer);}
    iiifLayers[Object.keys(iiifLayers)[0]].addTo(iiif_viewer);
  });
</script>
