<script src="{{ site.js.elasticlunr.cdn | default: 'https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js' }}"></script>
<!-- <script src="{{ site.baseurl }}/js/lunr-index.js"></script>
<script src="{{ site.baseurl }}/js/lunr-ui.js"></script> -->

<div class='search'>
<form action='/search' id='search-form' method='get' target='_top'>
<input id='search-text' name='q' placeholder='Search' type='text'/>
<button id='search-button' type='submit'>
<span>Search</span>
</button>
</form>
</div>

<div id="results"></div>
