@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,500,500i,700&subset=latin-ext');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

html, body{
  font-family: 'Barlow', sans-serif;
}
/* header */
.site-header{
  padding-top:50px;
  padding-bottom:50px;
  margin-bottom:20px;
  background:#eeeeee;
  box-shadow: 1px 6px 12px 0px rgba(164, 167, 168,0.5);
  -webkit-box-shadow: 1px 6px 12px 0px rgba(164, 167, 168,0.5);
  -moz-box-shadow: 1px 6px 12px 0px rgba(164, 167, 168,0.5);
  border-top: none;
  .site-title{
    padding-right:10px;
    max-height:30px;
    padding-bottom:5px;
    font-size:32px;
  }
}
/* dropdown nav */
#primary_nav_wrap {
  margin-top:15px;
  z-index:999 !important;
  background:#eeeeee;
  ul {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    z-index:999 !important;
    a {
      display:block;
      color:#333;
      text-decoration:none;
      font-weight:400;
      font-size:14px;
      line-height:32px;
      padding:0 15px;
      z-index:999 !important;
    }
    li {
      position:relative;
      float:left;
      margin:0;
      padding:0;
      z-index: 100 !important;
      background:#eeeeee;
      &:hover {
        background:#dedede;
        z-index:999 !important;
      }
    }
    ul {
      display:none;
      position:absolute;
      top:100%;
      left:0;
      padding:0;
      z-index: 100 !important;
      li {
        float:none;
        width:200px;
        z-index:100 !important;
      }
      a {
        line-height:120%;
        padding:10px 15px;
        z-index:100 !important;
      }
      ul {
        top:0;
        left:100%;
        z-index:100 !important;
      }
    }
  }
  ul li:hover > ul {
    display:block;
    z-index:100000 !important;
  }
}
/* Search */


.search{
  .search-control:hover {color:#686868;}
  .fa-home {
    font-size:22px;
  }
  .search-box {
    margin-top:20px;
    width:100%;
    position: relative;
    height:48px;
  }
  .search-box > #search {
    width:640px;
    height:48px;
    border-radius:6px 0px 0px 6px;
    box-shadow: none;
    border: 1px grey solid;
    box-shadow: 1px 2px 2px #ccc;
  }
  input , input:focus {
    border:none;
    box-shadow:none;
    background-color:none;
    outline: 0;
    font-size:16px;
    padding:0px 12px;
  }
  .also {
    font-family:'fontawesome';
    display:inline-block;
    background-color:#fff;
    height:48px;
    width:48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    border: 1px grey solid;
    position: absolute;
    top:0;
    border-radius:0px 6px 6px 0px;
    box-shadow: 1px 2px 2px #ccc;
  }
  .search-link:hover {color:#686868;}
  .setting {
    border-radius:0px 6px 6px 0px;
    margin-left:48px;
    font-size:18px;
  }
  .setting:hover {color:#686868;}

  #checkboxes{margin-top:20px;}
  #results{
    margin-top:30px;
    .result{
      margin-top:15px;
      border-left: 2px solid black;
      padding-left: 10px;
    }
  }
}


/* Pagination */
.prevnext{
  margin:0 auto;
  background:transparent;
  margin-bottom:40px;
  td{width: 50%;}
}

/* Metadata tables */
.meta-table{
  .meta-row{
    .meta-label{
      font-weight:bold;
      width:50%;
    }
  }
}

/* Leaflet map */
.leaflet-popup-content-wrapper{
  leaflet-popup-content{
    white-space: normal;
    img{
      max-width:120px;
      max-height:120px;
    }
  }
}
