//
// Headings
//

body, html{
  font-family: $sans-serif;
}
#cultnbw, #topnavbar, .navbar-inner, #navbar-container {
  z-index: 100000 !important;
  width: 100vw;
}
#title {
  font-family: $brand-font;
}
.page-title{
  margin: $more-margin 0 $more-margin 0;
}
#main {
  h1, h2, h3, h4, h5, h6
  .h1 .h2 .h3 .h4 .h5 .h6 {
    font-family: $brand-font !important;
    margin-bottom: $margin !important;
  }
}
#header-block {
  background-color: #e8dfcc;
  border-bottom: none;
  box-shadow: 0 4px 8px -2px rgba(68,68,68,0.6);
}
// /* Search */
.search-block {
  background-color: #d5e3ef;
  padding: $margin;
  .checkboxes {
    margin-bottom: $less-margin 0;
    label{
      margin-right: $less-margin;
    }
  }
  .result {
    &:hover {
      background-color: #ffffff !important;
    }
  }
  .btn-secondary{
    background-color: $accent-color;
    &:hover{
      background-color: $accent-color-2;
    }
  }
}

/* Leaflet map */
.leaflet-popup-content-wrapper {
  width:150px;
  .leaflet-popup-content {
    white-space: normal;
  	.popup-inner-wrapper {
  		max-height:300px;
  		max-width:150px;
  		width:100%;
  		overflow:auto;
      ul, li {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
      }
  	}
  	.popup-inner-item {
      text-align: center;
  		padding:1em 0 0 0;
      margin: 0 auto;
      a {
        margin-bottom: 1em;
      }
      img {
        margin: 1em 0 1em 0;
      }
  	}
  }
}

.gallery-item {
  border: none !important;
}

.map-link{
  cursor: pointer;
}

#iiif-viewer, #map-viewer {
  height:   $viewer-height;
  width:    100%;
  border:   1px solid grey;
  margin:   0 0 $more-margin 0;
  @media screen and (max-width: $break-med) {
    height: $viewer-height / 1.5;
  }
  @media screen and (max-width: $break-sm) {
    height: $viewer-height / 2;
  }
}
