/* dropdown nav */
#primary_nav_wrap {
  margin-top:15px; z-index: 10000000 !important;
  background:#eeeeee;
  ul {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    z-index: 100 !important;
    a {
      display:block;
      color:#333;
      text-decoration:none;
      font-weight:700;
      font-size:14px;
      line-height:32px;
      padding:0 15px;
      z-index: 100 !important;
    }
    li {
      position:relative;
      float:left;
      margin:0;
      padding:0;
      z-index: 100 !important;
      background:#eeeeee;
      &:hover {
        background:#dedede;
        z-index: 10000000 !important;
      }
    }
    ul {
      display:none;
      position:absolute;
      top:100%;
      left:0;
      padding:0;
      z-index: 100 !important;
      li {
        float:none;
        width:200px;
        z-index: 100 !important;
      }
      a {
        line-height:120%;
        padding:10px 15px;
        z-index: 100 !important;
      }
      ul {
        top:0;
        left:100%;
        z-index: 100 !important;
      }
    }
  }
  ul li:hover > ul {
    display:block;
    z-index: 1000 !important;
  }
}
/* Search */
#search{
  width:100%;
  border:none;
  font-size:14px;
  margin: 20px 0px 20p 0px;
  table{
    width:100%;
    margin-top:30px;
    #search-icon{width:3%;}
    #input-box{width:98%;}
  }
}
#results{ margin:30px;}

/* Pagination */
.prevnext{
  margin:0 auto;
  background:transparent;
  margin-bottom: 40px;
  td{ width: 50%; }
}

/* Metadata tables */
.meta-table{
  .meta-row{
    .meta-label{
      font-weight:bold;
      width:50%;
    }
    .meta-field{}
  }
}
