/*
variable declaration
*/
/* branding */
/* text */
/* colors */
/* viewport sizes */
/* margins */
/* banner */
/* iiif viewer */
/*
font & asset import
*/
@import url("//use.fontawesome.com/releases/v5.0.10/css/all.css");
@font-face {
  font-family: trajanprobold;
  src: url("//cdn.cul.columbia.edu/ldpd-toolkit/build/fonts/TrajanPro-Bold.otf"); }
@font-face {
  font-family: TrajanProRegular;
  src: url("//cdn.cul.columbia.edu/ldpd-toolkit/build/fonts/trajanpro-regular-webfont.eot");
  src: url("//cdn.cul.columbia.edu/ldpd-toolkit/build/fonts/trajanpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("//cdn.cul.columbia.edu/ldpd-toolkit/build/fonts/trajanpro-regular-webfont.woff") format("woff"), url("//cdn.cul.columbia.edu/ldpd-toolkit/build/fonts/trajanpro-regular-webfont.ttf") format("truetype"), url("//cdn.cul.columbia.edu/ldpd-toolkit/build/fonts/trajanpro-regular-webfont.svg#TrajanProRegular") format("svg");
  font-weight: 400;
  font-style: normal; }
/*

main body & containers

*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff; }

.container {
  width: 1100px; }
  @media screen and (max-width: 780px) {
    .container {
      width: 70vw; } }
  @media screen and (max-width: 600px) {
    .container {
      width: 80vw; } }

.nopadding {
  padding: 0 !important; }

.nomargin {
  margin: 0 !important; }

#main {
  margin-bottom: 5rem;
  min-height: 55vh; }
  #main a {
    color: #0072ce; }
  #main p {
    font-family: "Helvetica Neue";
    color: #222222;
    margin: 3rem 0 3rem 0;
    max-width: 900px;
    font-size: 1rem; }
    @media screen and (max-width: 600px) {
      #main p {
        font-size: 0.8rem; } }

/*

header & nav bar

*/
#header-block {
  border-bottom: 1px solid grey;
  padding: 6rem 0 3rem 0;
  background-color: #ffffff;
  z-index: 10000;
  margin-bottom: 3rem; }
  @media screen and (max-width: 780px) {
    #header-block {
      padding: 1rem 0 1rem 0; } }
  #header-block #title {
    -ms-word-break: break-all;
    overflow-wrap: break-word;
    word-break: break-word; }
    #header-block #title a.navbar-brand {
      white-space: inherit; }
  #header-block .logo.baseline {
    background: url("/ldpd-biggert/assets/logo.png") no-repeat;
    background-size: contain;
    align-self: center;
    padding: 0.8rem;
    margin: .25em .25em 0 0; }
    @media screen and (max-width: 780px) {
      #header-block .logo.baseline {
        display: none; } }
  #header-block ul {
    max-width: 900px;
    font-size: 1rem; }
    #header-block ul .nav-link {
      color: #222222;
      font-size: 1rem;
      overflow-wrap: break-word;
      font-weight: lighter !important;
      padding-left: 0; }
    #header-block ul .dropdown-toggle::after {
      display: none !important; }
  #header-block .dropdown-item {
    font-weight: lighter !important; }

/*

banner

*/
#wax-banner {
  position: relative;
  margin: 0 0 5rem 0; }
  #wax-banner .banner-item {
    position: absolute;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    background-color: #ffffff;
    opacity: 0; }
    #wax-banner .banner-item:first-child {
      z-index: 2;
      opacity: 1; }
    #wax-banner .banner-item:last-child {
      z-index: 1;
      opacity: 1; }
    #wax-banner .banner-item .banner-img {
      width: 100%;
      height: 350px;
      z-index: -1;
      overflow: hidden;
      margin-bottom: 2rem; }
      @media screen and (max-width: 780px) {
        #wax-banner .banner-item .banner-img {
          height: 233.3333333333px; } }
      @media screen and (max-width: 600px) {
        #wax-banner .banner-item .banner-img {
          height: 175px; } }
      #wax-banner .banner-item .banner-img img {
        z-index: -1;
        position: relative;
        width: 100%;
        height: auto; }
    #wax-banner .banner-item .banner-caption {
      font-family: "Helvetica Neue";
      margin-top: 2rem; }
      @media screen and (max-width: 600px) {
        #wax-banner .banner-item .banner-caption {
          font-size: 0.8rem; } }

/*

item pages (iiif + metadata)

*/
.item-view {
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0; }
  .item-view #iiif-viewer {
    height: 500px;
    width: 100%;
    border: 1px solid grey;
    margin: 3rem 1rem 3rem 1rem; }
    @media screen and (max-width: 780px) {
      .item-view #iiif-viewer {
        height: 333.3333333333px; } }
    @media screen and (max-width: 600px) {
      .item-view #iiif-viewer {
        height: 250px; } }
    .item-view #iiif-viewer a {
      color: black; }
  .item-view .btn {
    margin: 0;
    color: #dee2e6 !important;
    background-color: #ffffff !important;
    border: none;
    font-size: 2rem; }
    .item-view .btn:hover {
      background-color: #ffffff !important;
      color: #444444 !important; }
    @media screen and (max-width: 600px) {
      .item-view .btn {
        font-size: 1rem;
        margin: 0;
        padding: 0; } }
  .item-view #prev {
    float: left; }
  .item-view #next {
    float: right; }

#metadata-block .meta .label {
  font-weight: bold;
  width: 30%; }
#metadata-block .meta .value {
  font-family: "Helvetica Neue"; }

/*

search box

*/
.search-block {
  margin: 3rem 0 3rem 0; }
  .search-block .checkboxes {
    list-style-type: none; }
  .search-block #search {
    border-style: groove;
    border-width: 2px; }
    .search-block #search:focus {
      box-shadow: none;
      border-color: #dee2e6; }
  .search-block #results {
    margin: 0; }
    .search-block #results .result {
      padding: 1rem; }
      .search-block #results .result a {
        color: #222222;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap; }
        .search-block #results .result a img {
          float: left;
          width: 50px; }
        .search-block #results .result a p {
          margin: 0;
          margin-left: 1rem; }
          @media screen and (max-width: 600px) {
            .search-block #results .result a p {
              font-size: 0.8rem; } }
          .search-block #results .result a p .title {
            color: #0072ce; }
      .search-block #results .result:hover {
        background-color: #dee2e6; }

/* gallery cards */
#wax-gallery .facet {
  margin: 0 1rem 1rem 0; }
#wax-gallery #gallery {
  display: flex;
  flex-wrap: wrap; }
  #wax-gallery #gallery .gallery-item {
    padding: 0;
    margin: 0;
    width: 200px;
    border: 1px #444444 solid; }
    #wax-gallery #gallery .gallery-item .gallery-thumb {
      object-fit: cover;
      object-position: 50% 20%;
      width: 200px;
      height: 175px; }
    #wax-gallery #gallery .gallery-item .hovereffect {
      width: 100%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: default; }
      #wax-gallery #gallery .gallery-item .hovereffect:hover .overlay {
        opacity: .7;
        cursor: pointer; }
        #wax-gallery #gallery .gallery-item .hovereffect:hover .overlay .info {
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
      #wax-gallery #gallery .gallery-item .hovereffect .info {
        text-decoration: none;
        color: #ffffff !important;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        font-weight: normal;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
        padding: 0 2rem 0 2rem; }
      #wax-gallery #gallery .gallery-item .hovereffect .overlay {
        width: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        background-color: #0072ce;
        opacity: 0;
        -webkit-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        display: table;
        height: 200px; }

.sq-thumb-sm {
  object-fit: cover;
  object-position: 50% 20%;
  width: 80px;
  height: 80px; }

footer {
  margin-top: 10rem;
  padding: 3rem 0 5rem 0;
  color: white;
  background-color: #444444;
  z-index: 10000; }

body, html {
  font-family: "Helvetica Neue"; }

#cultnbw, #topnavbar, .navbar-inner, #navbar-container {
  z-index: 100000 !important;
  width: 100vw; }

#title {
  font-family: "TrajanProRegular"; }

.page-title {
  margin: 3rem 0 3rem 0; }

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6
.h1 .h2 .h3 .h4 .h5 .h6 {
  font-family: "TrajanProRegular" !important;
  margin-bottom: 2rem !important; }

#header-block {
  background-color: #e8dfcc;
  border-bottom: none;
  box-shadow: 0 4px 8px -2px rgba(68, 68, 68, 0.6); }

.search-block {
  background-color: #d5e3ef;
  padding: 2rem; }
  .search-block .checkboxes {
    margin-bottom: 1rem 0; }
    .search-block .checkboxes label {
      margin-right: 1rem; }
  .search-block .result:hover {
    background-color: #ffffff !important; }
  .search-block .btn-secondary {
    background-color: #0072ce; }
    .search-block .btn-secondary:hover {
      background-color: #0033a0; }

/* Leaflet map */
.leaflet-popup-content-wrapper {
  width: 150px; }
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    white-space: normal; }
    .leaflet-popup-content-wrapper .leaflet-popup-content .popup-inner-wrapper {
      max-height: 300px;
      max-width: 150px;
      width: 100%;
      overflow: auto; }
      .leaflet-popup-content-wrapper .leaflet-popup-content .popup-inner-wrapper ul, .leaflet-popup-content-wrapper .leaflet-popup-content .popup-inner-wrapper li {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none; }
    .leaflet-popup-content-wrapper .leaflet-popup-content .popup-inner-item {
      text-align: center;
      padding: 1em 0 0 0;
      margin: 0 auto; }
      .leaflet-popup-content-wrapper .leaflet-popup-content .popup-inner-item a {
        margin-bottom: 1em; }
      .leaflet-popup-content-wrapper .leaflet-popup-content .popup-inner-item img {
        margin: 1em 0 1em 0; }

.gallery-item {
  border: none !important; }

.map-link {
  cursor: pointer; }

#iiif-viewer, #map-viewer {
  height: 500px;
  width: 100%;
  border: 1px solid grey;
  margin: 0 0 3rem 0; }
  @media screen and (max-width: 780px) {
    #iiif-viewer, #map-viewer {
      height: 333.3333333333px; } }
  @media screen and (max-width: 600px) {
    #iiif-viewer, #map-viewer {
      height: 250px; } }
