---
layout: default
title: Image Gallery
permalink: /gallery/
---
<style>
    .thumb-link:hover{text-decoration:none;}
    .thumb{filter:grayscale(85%);transition:filter 0.5s;opacity:1;transition:opacity 0.1s;}
    .thumb:hover{filter:grayscale(0%);}
    .thumb[data-src]{opacity: 0;}
    .tooltip {position:relative;display:inline-block;font-size:12px;}
    .tooltip .tooltiptext {visibility:hidden;background-color:#163866;color:#fff;text-align:center;border-radius:6px;padding:10px;position:absolute;width:150px;bottom:100%;left:50%;margin-left:-75px;z-index:1000000000;;}
    .tooltip:hover .tooltiptext{visibility: visible;}
    .tooltip .tooltiptext::after {
</style>
{% for item in site.biggert %}
    {% if item.thumbnail %}
    <div class="tooltip">
        <a href='{{ site.baseurl | append: item.permalink | replace: '//', '/' }}' class="thumb-link">
            <img data-src="{{ item.thumbnail }}" width="100" class="thumb"/>
            <span class="tooltiptext">{{ item.title }}</span>
        </a>
    </div>
    {% endif %}
{% endfor %}
<script>
    [].forEach.call(document.querySelectorAll('img[data-src].thumb'), function(img) {
        img.setAttribute('src', img.getAttribute('data-src'));
        img.onload = function(){img.removeAttribute('data-src');};
    });
</script>
<br><br>
<h3>Errored Manifests:</h3>
{% for item in site.biggert %}
    {% unless item.thumbnail %}
    <a href='{{ site.baseurl | append: item.permalink | replace: '//', '/' }}' class="thumb-link">
      {{ item.title}}
    </a> ⚬
    {% endunless %}
{% endfor %}
