---
layout: default
---
{% assign manifest_uri = "https://derivativo-2.library.columbia.edu/iiif/2/presentation/" | append: page.doi | append: "/manifest.json" %}


{% include leaflet_assets.html %}
{% include leaflet_iiif.html manifest_uri=manifest_uri %}
{% include pagination.html collection=page.collection pid=page.pid %}

<table class='meta-table'>
  {% for item in site.data.meta %}
  <tr class='meta-row'>
    <td class='meta-label'>{{ item.label }}</td>
    <td class='meta-field'>{{ page[item.field] }}</td>
  </tr>
  {% endfor %}
  <tr class='meta-row'>
    <td class='meta-label'>IIIF Manifest</td>
    <td class='meta-field'><a href="{{ manifest_uri }}"><img src="{{ site.baseurl }}/assets/iiif-logo.png" alt="iiif-logo" id="iiif-drag" width="25"/></a></td>
  </tr>
</table>

{% include leaflet_map.html coordinates=page.coordinates %}
